@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}

:root {
  font-size: 16px;
  --white30: white;
  --white20: #A5A4A5;
  --white10: #3A3539;
  --gray: #616161;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--white30);
  font-family: 'Nunito', sans-serif;
  background: #251F24;
  /* writing-mode: vertical; */
  margin: 0;
  /* margin-inline: 100px;
  margin-block: 100px; */
  /* font-family: charter; */
}

a {
  color: var(--white30);
  text-decoration: none;
}

.header {
  /* position: sticky;
  inset-block-start: -45px; */
}

.header-content {
  padding-inline: 20px;
}

header {
  margin-block-start: 20px;
  font-size: 14px;
  color: var(--white20);
  /* top */
  /* bottom */
  /* inset-block-end: ; */
  /* left */
  /* right */
  /* inset-inline-end: ; */
}

header li {
  margin-block-end: 16px;
}

header a {
  /* --white10: blue; */
  color: var(--white20);
}

header a:hover {
  color: var(--white30);
}

nav details summary {
  cursor: pointer;
  font-weight: bold;
  color: var(--white30);
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-block-start: 20px;
  margin-block-end: 16px;
  /* 3.75em */
}

h2 {
  font-size: 2em;
  font-weight: bold;
  margin-block: 40px;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}

hr {
  margin-block: 40px;
  border-color: var(--gray);
}

pre {
  background: var(--white10);
  border-radius: 8px;
  padding-inline: 40px;
  padding-block: 40px;
  overflow: auto;
  border: 8px solid #5551FF;
  box-shadow: -10px 10px 0 0 #ABAAF6;
  margin-block-end: 40px;
}

p {
  color: var(--white20);
}

.hero {
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  block-size: 50px;
}

.section-content img {
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
}

.section-content h3::before{
  content: counter(titleList, decimal) '. ';
}

/* .section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
} */

blockquote {
  background: var(--white10);
  margin-block-start: 80px;
  margin-block-end: 64px;
  border-radius: 8px;
  line-height: 32px;
  font-size: 24px;
  padding-inline: 24px;
  padding-block: 24px;
}

blockquote p {
  color: var(--white30);
}


.main hr {
  display: none;
}

/* .main {
} */

.wrapper {
  max-inline-size: 902px;
  /* block-size: 100px; */
  margin: auto;
}

.main-content {
  padding-inline: 16px;
}

.slider {
}

.slider-container {
  display: block;
  /* block-size: 100px; */
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
}

.video {
  margin: 0;
  display: inline-block;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 16px;
}

.slider-bullet {
  display: inline-block;
  inline-size: 15px;
  block-size: 15px;
  background: #424242;
  border-radius: 50%;
}

.slider-bullet:first-child {
  background: white;
}

.form input {
  width: 100%;
  block-size: 48px;
  display: block;
  margin-block-end: 24px;
  padding-block: 12px;
  padding-inline: 16px;
  border: 1px solid var(--white30);
  border-radius: 8px;
  background: #251F24;
  box-sizing: border-box;
  color: var(--white30);
  font-size: 16px;
}

.form input[type="submit"] {
  background: #157EFB;
  border: none;
}

.form input::placeholder {
  color: var(--white20);
}

@media screen and (min-width: 1366px) {

  .hero {
    block-size: 350px;
  }

  .header {
    position: sticky;
    inset-block-start: -45px;
  }

  .header-content {
    position: relative;
    padding-inline: 0;
  }

  header {
    position: absolute;
    inset-block-start: 64px;
    inset-inline-start: -217px;
    inline-size: 195px;
  }

  h1 {
    font-size: 60px;
    margin-block-start: 64px;
  }
}